aiosmtplib
email-validator
feedparser
fastapi
python-dotenv
apscheduler
uvicorn
openai
python-magic
aiohttp
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
jinja2
pytz
python-multipart
